:root {
  --gray-100: #e1e1e1;
  --gray-200: #d3d3d3;
  --gray-300: #c4c4c4;
  --gray-400: #b3b3b3;
  --gray-500: #a0a0a0;
  --gray-600: #898989;
  --gray-700: #787878;
  --gray-800: #6c6c6c;
  --gray-900: #3f3f3f;
  --primary-light: #ff7a30;
  --primary-main: #ff5c00;
  --primary-dark: #d44e02;
  --secondary-light: #35dbff;
  --secondary-main: #00d1ff;
  --secondary-dark: #00b6de;
  --success: #6ee7b7;
  --alert: #ffd000;
  --error: #fb7185;
  --light: #eeeee9;
  --dark: #181623;
}
